@using System.Globalization

<h1 style="font-style:@_headingFontStyle">@_headingText</h1>

<form>
    <div>
        <input type="checkbox" id="italicsCheck" @bind="_italicsCheck" />
        <label class="form-check-label" for="italicsCheck">Use italics - @Name</label>
    </div>

    <button type="button" class="btn btn-primary" @onclick="UpdateHeading">
        Update heading
    </button>
</form>

@code {
    [Parameter]
    public string Name { get; set; }

    private static TextInfo _tinfo = CultureInfo.CurrentCulture.TextInfo;
    private string _headingText = _tinfo.ToTitleCase("welcome to blazor!");
    private string _headingFontStyle = "normal";
    private bool _italicsCheck = false;

    public void UpdateHeading()
    {
        _headingFontStyle = _italicsCheck ? "italic" : "normal";
    }
}