@page "/developers"

@using Microsoft.AspNetCore.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStorage
@using Models
@inject Data.DevelopersApi devApi

<h3>Developers</h3>

<h3>Status: @messageStatus</h3>

<button @onclick="RefreshAsync">Refresh</button>

<div class="row">
    @foreach (var item in developers)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="@item.Avatar" alt="@item.Name" />
                <div class="card-body">
                    <p class="card-text">@item.Name</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Dislike</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code
{
    private string messageStatus = "";

    private List<Developer> developers = new List<Developer>();

    protected async override Task OnInitializedAsync()
    {
        await RefreshAsync();
    }

    private async Task RefreshAsync()
    {
        messageStatus = "loading";

        string token = await ProtectedSessionStorage.GetAsync<string>("token");

        var devsApi = await devApi.GetDevelopersAsync(token);

        developers.Clear();

        foreach (var item in devsApi)
        {
            developers.Add(item);
        }

        messageStatus = "";
    }
}
