@page "/login"

@inject ProtectedSessionStorage ProtectedSessionStorage
@inject DevelopersApi devApi

<input type="text" @bind="username" />

<button @onclick="@LoginAsync">Login</button>

<h3>Status: @messageStatus</h3>

@code
{
    private string username;

    private string messageStatus = "";

    private async Task LoginAsync()
    {
        messageStatus = "loading";

        string content = await devApi.LoginAsync(username);

        await ProtectedSessionStorage.SetAsync("token", content);

        messageStatus = "done";
    }
}